h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.centered-column {
    width: available;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

button {
    width: max-content;
}